[Unit]
Description=Colourbrina
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple
User=Colourbrina
Group=Colourbrina
WorkingDirectory=/home/Colourbrina/Colourbrina/backend
ExecStart=node /home/Colourbrina/Colourbrina/backend/index.js
Restart=always
EnvironmentFile=/home/Colourbrina/Colourbrina/backend/.env

[Install]
WantedBy=multi-user.target